<!-- This layout file is common to the entire application -->
<!DOCTYPE html>
<html>
<head>
  <title>Tawzi | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<div id="wrap" class="container">
	<%= render 'layouts/header' %>
		<div >
			<!-- What yield tag does is that it lets us drop back into our regular code -->
			<%= yield %>
		</div>
		
		 <div id="push"></div>
    </div>
	<%= render 'layouts/footer' %>
</body>
</html>


